
        .silex-id-1484587463012-11 {
            top: 709px;
            left: 5px;
            min-width: 1000px;
        }
        
        .silex-id-1484587463012-10 {
            min-height: 332px;
            top: 14px;
            left: 151px;
            width: 1000px;
        }
        
        .silex-id-1505148465562-1 {
            width: 448px;
            min-height: 525px;
            top: -188px;
            left: 273px;
        }
        
        .silex-id-1505148445637-0 {
            height: 780px;
            width: 491px;
            background-color: transparent;
            top: -256px;
            left: 239px;
        }
        
        .silex-id-1484658879156-30 {
            width: 620px;
            min-height: 551px;
        }
    